---
import {resumeData} from '../data/resumeData';
import type {ResumeData} from '../types/resume.d';
const lang = Astro.props.lang || 'en';
const summary = resumeData.content[lang as keyof ResumeData['content']].summary;
---

<section class='py-6 animate-fade-in'>
    <h2 class='text-2xl font-semibold mb-4'>{lang === 'en' ? 'Summary' : '个人简介'}</h2>
    <p class='text-base leading-relaxed'>{summary}</p>
</section>
